# Use this file to run the image locally after building the image
services:
  jvm:
    image: jvm
    ports:
      - "8080:80"
    volumes:
      - $HOME/.config/gcloud/application_default_credentials.json:/gcp/cred.json
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/gcp/cred.json
      - GCLOUD_PROJECT=gatedaccessdev
  native:
    image: native
    ports:
      - "8081:80"
    volumes:
      - $HOME/.config/gcloud/application_default_credentials.json:/gcp/cred.json
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/gcp/cred.json
      - GCLOUD_PROJECT=gatedaccessdev