<configuration>
    <springProfile name="prod">
        <!-- Define a Cloud Logging appender -->
        <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
            <!-- Optional : filter logs at or above a level -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <flushLevel>WARN</flushLevel> <!-- Optional : default ERROR -->
        </appender>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level %logger{36}) [%file:%line] -
                    %yellow(%msg%n)
                </pattern>
            </encoder>
        </appender>
        <root level="WARN">
            <appender-ref ref="CLOUD"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <!-- Define a ConsoleAppender for logging to the console -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level %logger{36}) [%file:%line] -
                    %yellow(%msg%n)
                </pattern>
            </encoder>
        </appender>

        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="CONSOLE"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="ASYNC"/>
        </root>
    </springProfile>
</configuration>
