<configuration>
    <springProfile name="prod">
        <!-- Define a ConsoleAppender for logging to the console -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level %logger{36}) [%file:%line] - %yellow(%msg%n)</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <include resource="org/springframework/cloud/gcp/logging/logback-appender.xml" />
        <root level="INFO">
            <appender-ref ref="STACKDRIVER" />
        </root>

    </springProfile>

    <springProfile name="dev">
        <!-- Define a ConsoleAppender for logging to the console -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level %logger{36}) [%file:%line] - %yellow(%msg%n)</pattern>
            </encoder>
        </appender>

        <!-- Set up loggers with different log levels and appenders -->

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
